BOT_TOKEN = "Enter Your Telegram Bot Token"
SUPERADMIN_ID ="Super Admin Telegram ID"

CHANNEL_ID = "@telegram_chanel_username" 
CHANNEL_LINK = "https://t.me/telegram_chanel_link"

DB_HOST = "Enter Your Database HOST"
DB_PORT = "Enter Your Database PORT"
DB_USER = "Enter Your Database USERNAME"
DB_PASSWORD = "Enter Your Database PASSWORD"
DB_NAME = "Enter Your Database NAME"